// Timing
$timing-transitions:       125ms !default;
$timing-transition-delay:  400ms !default;
$timing-tooltips:          100ms !default;

// Border Radius
$border-radius-small:  0.2rem !default;
$border-radius-medium: 0.5rem !default;
$border-radius-large:  1.0rem !default;
$border-radius-full:   99rem !default;


// Shadows
