// Type Scale
$font-size-base:            rem(16px);
$font-size-h1:              rem(48px);
$font-size-h2:              rem(36px);
$font-size-h3:              rem(24px);
$font-size-h4:              rem(20px);
$font-size-h5:              rem(16px);
$font-size-h6:              rem(12px);

$line-height-base:          1.4;
$line-height-heading:       1.2;
$line-height-ui:            1;

$font-light:                300;
$font-normal:               400;
$font-bold:                 500;

// Typography
$typestack-display:        "futura-pt", "Helvetica Neue",Helvetica,Arial,sans-serif;
$typestack-text:           "ff-tisa-web-pro", Georgia,Times,"Times New Roman",serif;
$typestack-ui:             "futura-pt", "Helvetica Neue",Helvetica,Arial,sans-serif;

// Color
$pro-hue-base-start:   #0e1430;
$pro-hue-base-end:     #f5eae1;

$brand-color-one:       #2772DB;
$brand-color-two:       #e57273;
$brand-color-three:     $brand-color-one;
$brand-color-four:      $brand-color-one;
$brand-color-five:      $brand-color-one;
$brand-color-six:       $brand-color-one;
