/* Global */

body {
  font: type-text(1);
}


/* Landing Page */
.landing-page {
  padding: remPx(20);
}

.master-header h1 {
  font: type-masthead(5);
  margin-bottom: remPx(20);
  text-transform: uppercase;
  margin-left: remPx(-5);
}

.master-header h1 a {
  text-decoration: none;
  color: color(black);
  padding: remPx(5);
  display: inline-block;

  &:hover,
  &:focus {
    color: color(seagreen);
    text-decoration: underline;
  }

  &:focus {
    background: color(seagreen, 0, 0.1);
    outline: none;
    border-radius: remPx(3);
  }

  &:active {

  }
}

.master-nav h2 {
  font: type-ui(2);
  margin-bottom: remPx(10);
  text-transform: uppercase;
  color: color(black, 0, 0.5);
}

.nav-list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  margin-left: remPx(-7);

  li {
    display: inline-block;
    font: type-ui(2);
    margin: remPx(2);
  }

  li a {
    color: color(black, 0, 0.8);
    display: block;
    padding: remPx(5);
    text-decoration: none;
  }

  // &#187;

  li a:hover,
  li a:focus {
    color: color(seagreen);
    text-decoration: underline;
  }

  li a:focus {
    background: color(seagreen, 0, 0.1);
    outline: none;
    border-radius: remPx(3);
  }

  li a.is-current {
    text-decoration: underline;

    &:before {
      display: inline-block;
      content: '\261B';
      padding-right: remPx(10);
    }
  }
}

section.intro {
  font: type-display(4);
  padding-top: 0;
  line-height: $line-height-base;

  p {
    display: block;
    margin: 0;
    padding-top: 0;
    margin-bottom: remPx(20);
  }

  .cta {
    font: type-ui(2);
    line-height: $line-height-base;
  }

  & a {
    text-decoration: none;
    color: color(seagreen);
  }

  & a:hover,
  & a:focus {
    text-decoration: underline;
  }

  & a:focus {
    background: color(seagreen, 0, 0.1);
    outline: none;
    border-radius: remPx(5);
  }
}


.master-footer {
  display: block;
  padding: remPx(20) 0;
}

.metal-hand {
  display: block;
  margin: remPx(20) 0;
}


/* Case Studies */

.case-studies {
  padding: remPx(20);
}


.case-study {
  display: block;
  width: 100%;
}

.case-study h1 {
  font: type-display(4, 500);
  margin-top: remPx(40);
  margin-bottom: remPx(10);
}

.case-study h2 {
  font: type-ui(2);
  margin-bottom: remPx(20);
}

.case-study h2 a {
  color: color(black, 0, 0.5);
  text-decoration: none;
  padding: remPx(2) remPx(6);
  margin-left: remPx(-6);

  &:after {
    display: inline-block;
    content: '\2192';
    font-weight: normal;
    padding-left: remPx(6);
  }

  &:hover,
  &:focus {
    color: color(seagreen);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    background: color(seagreen, 0, 0.1);
    border-radius: remPx(3);
  }
}

.hiring-cta {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 999999999;
  background: color(purple, 6);
}

.hiring-cta a {
  text-align: center;
  display: inline-block;
  // background: color(purple, 6);
  padding: remPx(6) remPx(12);
  border-radius: remPx(5);
  text-decoration: none;
}

.case-study-header {
  margin-bottom: remPx(60);
  display: block;
}

.images,
picture,
picture img {
  width: 100%;
}
