.landing-page .page-wrapper {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  max-width: remPx(740);
  margin: remPx(20) auto;
}

.master-header h1 {
  font: type-ui(4);
  margin-top: remPx(6);
}

.master-aside {
  min-width: remPx(160);
}

.nav-list li {
  display: block;
}

main.master-content {
  padding: 0 remPx(20);
}

// section.intro span.split {
//   display: inline;
//   margin-bottom: 0;
// }
