.landing-page .page-wrapper {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  max-width: remPx(740);
  margin: remPx(20) auto;
}

.master-header h1 {
  font: type-masthead(4);
  margin-top: remPx(6);
}

.master-aside {
  min-width: remPx(160);
}

.nav-list li {
  display: block;
}

main.master-content {
  padding: 0 remPx(20);
}

// section.intro span.split {
//   display: inline;
//   margin-bottom: 0;
// }

.case-studies .page-wrapper {
  max-width: remPx(1040);
  display: flex;
  align-content: flex-start;
  margin: remPx(20) auto;

  .case-study {
    padding: 0 remPx(40);
    margin-top: 0;
  }

  .case-study h1 {
    margin-top: remPx(10);
  }
}
