// Variable Layer - Do Not Touch
@import 'themes/default';

// t-bryant themes
@import 'themes/t-bryant/default';


@media only screen and (min-width : 320px) and (max-width : 480px) {

  // Styles for mobile

  .site-header {
    font-size: $font-size-h3;
  }
}

@media only screen and (max-width : 1024px) {

  // Styles for tablet

  article {
    padding: 0 3rem !important;
  }

}

@media only screen and (max-width : 1250px) {

  .work-list-thumb {
    max-width: 100%;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  // Don't forget your Retina CSS!

}
