@import url(webfonts/webfonts.css);
/*
Strip Unit

input: attribute: strip-unit([number-with-unit]);
output: attribute: [unitless-number];

*/
/*
REM Calculator
*/
/*
Power Function

via - https://www.bhalash.com/archives/13544805657

*/
.disable-text-select {
  /* disabled text select */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */ }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal normal 500 1.42383rem/1.2 -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; }

dfn,
var,
cite,
address {
  font-style: normal; }

:not(#sr-only-specificity-fix).u-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
  /* TODO: add state that only makes visible on focus */ }
  :not(#sr-only-specificity-fix).u-sr-only-focusable:active,
  :not(#sr-only-specificity-fix).u-sr-only .u-sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

[disabled],
[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
  /* disabled text selection */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
       supported by Chrome and Opera */ }

[hidden] {
  display: none; }

[aria-hidden="true"] {
  visibility: hidden; }

/* Global */
body {
  font: normal normal 500 1rem/1.2 "National", serif !important; }

*,
*:before,
*:after {
  font: normal normal 500 1rem/1.2 "National", serif !important; }

/* Landing Page */
/*

.page-wrap {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.master-aside {
  min-width: remPx(300);

  h1 {
    display: block;
    font: type-display(4, 600);
    text-transform: uppercase;
    margin-bottom: remPx(40);
  }

  h1 a {
    text-decoration: none;
    color: color(dodgerblue);
  }

  h2 {
    font: type-text(2, 500);
    display: block;
    margin-bottom: remPx(10);
  }
}

.master-aside nav {

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  ul li {
    margin-bottom: remPx(12);
    font: type-ui(2);
  }

  li a {
    text-decoration: none;
    color: color(dodgerblue);
  }

  li a:hover,
  li a:focus {
    text-decoration: underline;
  }
}

.intro {
  font: type-text(5, 600);
  margin-top: 0;
}

.intro a {
    color: color(purple, -2);
    border-radius: remPx(3);
    transition: background 150ms, transform 50ms;
    border: 1px solid color(purple, 0, 0.0);
    text-decoration: none;
    background: color(purple, 0, 0.05);
    padding: remPx(0) remPx(6);
}

.intro a:hover,
.intro a:focus {
   background: color(purple, 5);
   transform: translateY(-1px);
}

.intro a:focus {
  outline: none;
  border-color: color(purple);
}

.intro a:active {
  background: color(purple, 5);
  transform: translateY(1px);
}



.case-study-header {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: remPx(200);

  h1 {
    font: type-masthead(6, bold);
  }

  h2 {
    font: type-display(1);
  }

  .meta-data {
    margin-right: remPx(20);
  }

  p {
    font: type-text(2);
    margin-top: 0;
  }
}

.images {
  max-width: 800px;
  margin: 0 auto;
}


.images img {
  width: 100%;
  max-width: remPx(800);
  margin-bottom: remPx(20);
}

*/

/*# sourceMappingURL=style.css.map */
