.nav-wrapper {
  background: grayscale(1);
  display: block;
  width: 100%;
}

.main-site-nav {
  background: color(black);
  display: flex;
  margin: 0 auto;
  max-width: 96rem;
}

.ui-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

.nav-list {

  &-item {
    display: block;
    vertical-align: top;
    font-family: $typestack-display;
    text-transform: uppercase;
    font-size: $font-size-h6;
    letter-spacing: .25ex;
    margin: 2rem 0;
  }

  &-link {
   color: color(white);
   display: block;
   padding: .6rem 1.2rem;
   text-decoration: none;

   // &:focus {
   //
   // }
   &:hover {
     color: color(brand-color-one);
   }
   &:active {
     color: color(brand-color-one, -3);
   }
 }
}

.site-header {
  color: grayscale(5);
  font-size: $font-size-h4;
  font-style: normal;
  font-weight: $font-normal;
  text-transform: uppercase;

  span {
    color: color(white, 0, 0.4);
  }
}
