.work-dir {
  padding: 4rem 2rem;
}

.work-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;

  a {
    text-decoration: none;
  }
  &-thumb {
    display: inline-block;
    width: 100%;
    max-width: 58rem;
    padding: 0;
    margin-right: -4px;
    margin-bottom: 2rem;

    .label {
      width: 100%;
      // text-align: right;
      padding: 1rem;
      background-color: color(black, 7);
      font-family: $typestack-ui;
      color: color(white);
      margin-bottom: -.1rem;
      border-radius: .3rem .3rem 0 0;
      transition: background-color .125s ease;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0 0 .3rem .3rem;
    }

  &:nth-last-of-type(odd) {
    margin-right: 3.7rem;
  }
  }

  .work-list-thumb:nth-child(odd):last-child {
    max-width: 100%;
  }

  .work-list-thumb:hover,
  .work-list-thumb:focus {
    .label {
      background-color: color(brand-color-one);
    }
  }

  .work-list-thumb:active {
    .label {
      background-color: color(brand-color-one, -2);
    }
  }
}

// Case Study

.case-study {

  &-content {
    background: grayscale(white);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-masthead {
    width: 100%;
  }

  &-heading {
    text-transform: uppercase;
    display: block;
    text-align: left;
    max-width: 92rem;
    width: 100%;
    letter-spacing: .1ex;
    font-size: $font-size-masthead;
    // font-weight: $font-light;
    margin: 6rem auto 3rem;
  }


  &.dark-version {
    background: grayscale(2);

    .case-study-content {
      background: grayscale(1);
    }
  }

}
