.work-dir {
  padding: 0;
}

.work-list {
  background: grayscale(white);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 4rem 200rem;

  a {
    text-decoration: none;
  }
  &-thumb {
    display: inline-block;
    width: 100%;
    max-width: 54rem;
    padding: 0;
    margin-right: -4px;
    margin-bottom: 2rem;

    .label {
      width: 100%;
      // text-align: right;
      padding: 1rem 1rem 3rem;
      background-color: grayscale(black);
      font-family: $typestack-ui;
      color: grayscale(white);
      border-radius: 0 0 .3rem .3rem;
      transition: background-color .125s ease;
    }

    img {
      border-radius:.3rem .3rem 0 0;
      display: block;
      height: auto;
      width: 100%;
    }

  &:nth-last-of-type(odd) {
    margin-right: 3.7rem;
  }
  }

  .work-list-thumb:nth-child(odd):last-child {
    max-width: 100%;
  }

  .work-list-thumb:hover,
  .work-list-thumb:focus {
    .label {
      background-color: color(brand-color-two);
    }
  }

  .work-list-thumb:active {
    .label {
      background-color: color(brand-color-two, -2);
    }
  }
}

// Case Study

.case-study {

  &-content {
    background: grayscale(white);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    padding-bottom: 10rem;
  }

  &-masthead,
  &--fw-image {
    width: 100%;
  }

  &-heading,
  &-subheading {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: $font-light;
    // max-width: 92rem;
    width: 100%;
    letter-spacing: .1ex;
    font-size: $font-size-h1;
    // font-weight: $font-light;
    margin: 6rem auto 3rem;
  }

  &-subheading {
    margin-top: 0;
    padding-top: 0;
    font-size: $font-size-h2;
  }

  p {
    max-width: 54rem;
    font-size: $font-size-h4;
    font-family: $typestack-display;
    margin: 2rem auto;
    line-height: $line-height-base;
    color: grayscale(2);
  }

  &:after {
    display: block;
    height: .1rem;
    padding-bottom: 2rem;
  }

  .seperator-image {
    display: block;
    width: 100%;
    max-width: 8rem;
    margin: 10rem auto 2rem;
  }


  &.dark-version {
    background: grayscale(2);

    .case-study-content {
      background: grayscale(black);
    }

    .case-study-heading {
      color: grayscale(9);
    }

    p {
      color: grayscale(white);
    }
  }
}
