$pro-hue: (
    white: #ffffff,
    black: #151515,

    brand-color-one: $brand-color-one,
    brand-color-two: $brand-color-two,
    brand-color-three: $brand-color-three,
    brand-color-four: $brand-color-four,
    brand-color-five: $brand-color-five,
    brand-color-six: $brand-color-six,

    red: $red-base,
    orange: $orange-base,
    yellow: $yellow-base,
    green: $green-base,
    blue: $blue-base,
    indigo: $indigo-base,
    violet: $violet-base,

    focus: $focus-base,
    info: $info-base,
    alert: $alert-base,
    warning: $warning-base,
    danger: $danger-base,
    success: $success-base,
) !default;

$pro-grayscale: (
black: #161618,
    1: #454548,
    2: #5a5a5d,
    3: #6b6b6d,
    4: #7d7d7f,
    5: #919193,
    6: #9d9d9f,
    7: #b5b5b6,
    8: #d4d4d5,
    9: #cfcfcf,
   10: #e9e9e9,
white: #e9e9e9
) !default;
